$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import url("http://fonts.googleapis.com/css?family=Titillium+Web");
/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    color: #333;
}


.hero-unit h1 {
    font-size: 60px;
    letter-spacing: -1px;
}
li a  {
  display:block;
  text-decoration:none;
  padding:5px 10px;
  font-size:15px;
  color:#000;
  -webkit-transform: skew(20deg) !important;
  -moz-transform: skew(20deg) !important;
  -ms-transform: skew(20deg) !important;
  -o-transform: skew(20deg) !important;
  transform: skew(20deg) !important; 
  color: white; 
  font-weight: bold;
}

li{
  display:inline-block;
  text-align:center;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); 
  background-color: #636363;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

ul{
    list-style-type: none;
}


.child-skew {
  background: #fff;
  border: 1px solid #bbb;
  border-color: #ddd #ccc #bbb;
  overflow: hidden;
  
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


.child-skew input {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 4px 0;
  width: 100%;

  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
}


.fithashtag{
    background-color: red;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

