$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import url("http://fonts.googleapis.com/css?family=Titillium+Web");
/* Put your CSS here */
html, body {
  margin: 20px;
}

* {
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
}

body {
    background: #fafafa;
}


.hero-unit h1 {
    font-size: 60px;
    letter-spacing: -1px;
}
div > ul > li > a  {
  display:block;
  text-decoration:none;
  padding:5px 10px;
  font-size:15px;
  color:#000;
  -webkit-transform: skew(20deg) !important;
  -moz-transform: skew(20deg) !important;
  -ms-transform: skew(20deg) !important;
  -o-transform: skew(20deg) !important;
  transform: skew(20deg) !important; 
  color: white; 
  font-weight: bold;
}

div > ul > li{
  display:inline-block;
  text-align:center;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); 
  background-color: #636363;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

ul{
    list-style-type: none;
}


.child-skew {
  background: #fff;
  border: 1px solid #bbb;
  border-color: #ddd #ccc #bbb;
  overflow: hidden;
  
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


.child-skew input, .parent-skew {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 4px 0;
  width: 100%;

  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
}


.fithashtag {
    background-color: red;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

nav {
  background: transparent;
  height:40px;
  margin: auto; 
  width: 60%;
}


nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  position: relative;
  float:left;
  display:inline-block;
  zoom:1;
  *display:inline;
  position:relative;
  width: 100px;
}



nav ul li a {
  display: block;
  text-decoration: none;
  background: #fdca00 !important;
  font-size: 90%;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:90px;
  text-align:center;
  transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  color: black;
}

nav ul li a span {
    display: inline-block;
    transform: skew(10deg);
    -o-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    color: black;
    line-height: 5px;
    font-weight: bold;
}

nav ul li a:hover {
  background: #0d0e10 !important;
}

nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
  text-decoration: none;
}

nav li:hover li {
  float: none;
  font-size: 11px;

}

nav li:hover a {
  background: #3A464F;
  height:30px; /* Height of lower-level nav items is shorter than main level */
  color: #fdca00;
  text-decoration: none;
}

nav li:hover li a:hover {
  background: #95A9B1;
}

nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
