<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="bower_components/jscrollpane/style/jquery.jscrollpane.css">
  <link rel="stylesheet" type="text/css" href="bower_components/prettyphoto/css/prettyPhoto.css">
  <!-- endbuild -->
</head>
<body ng-app="twaAutocompletionApp" ng-smooth ng-controller="MainCtrl" ng-class="{'overlay': viewIndex % 2 === 0}">
  <div id="wrapper" >
    <nav>
      <ul ng-repeat="menuElem in navHash">
        <li ng-cloak data-index ="{{$index}}"><a class="nav-element" ng-class="{'parentnav-active' : viewIndex - 1 === $index}" ng-click="deferTransition(lowercase(menuElem.name),($index+1)) "><span ng-class="{'childnav-active': viewIndex - 1 === $index }">{{(menuElem.name)}}</span></a></li>
      </ul>
      <div id="nag-invoke" ng-click="invokeNag()"/>
    </nav>

    <span ng-cloak ng-show="viewIndex !== 6" ng-class="{'twa-next' : viewIndex !== 6 }" ng-click="deferTransition(getNextViewByName(),'next')">{{routeList[viewIndex % routeList.length]}}</span>
    <span ng-cloak ng-show="viewIndex !== 1" ng-class="{'twa-prev' : viewIndex !== 1 }" ng-click="deferTransition(getPrevViewByName(),'prev')">{{(viewIndex !== 1) ? routeList[viewIndex - 2  % routeList.length] : "" }}</span>
    <div id="main-logo"><a href="#/"></a></div>

    


    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="main-container" ng-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></div>
    </div>

    <div id="step-area" ng-controller="ModalCtrl">
      <a href="" ng-click="open()"><span class="soumiss main-btn"></span></a>
      <a href=""><span class="seperator main-btn"></span></a>
      <a href=""><span class="vote main-btn"></span></a>
      <a href=""><span class="seperator main-btn"></span></a>
      <a href=""><span class="party main-btn"></span></a>


      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3>La liste des soumissions</h3>
          <h4>Lorem ipsum dolor siet amet, consectetur adipiscing ellit. Nulla pretium eros ut risos fringilla, non tristique urna feugiat. Sed massa massa, consectetur non vulputate eu. <a href="">Nominer une personne</a></h1>
          </div>
          <div>
            <h2 class="modal-result-descriptor">{{(items | filter : hashfilter | filter: candidateName).length}} Résultats</h2>
            <input type="text" placeholder="Recherche par personne" id="modal-result-filter" ng-model="candidateName"></input>
          </div>
          <hr class="no-margin">
          <div class="modal-body no-padding">
            <div>
              <ul class="result-iterator scroll-pane" ng-init="submissionLabel=[];ipCallbacks=[]">
                <li ng-init="enable-meta = false;"  clicked="false" ng-expand class="result-entry" ng-repeat="item in items | orderBy: count | filter : hashfilter | filter: candidateName" ng-animate="'li-animate'">
                  <img class="modal-result-circular-image" ng-mouseover="enable-meta=true" ng-faulty src={{item.imguri}} />
                  <div class="modal-entry-metadata">
                    <span class="modal-result-name" ng-click="selected.item = item">{{ item.name }}</span>
                    <span class="entry-submission-count">( {{item.count}} Soumissions)</span>
                    <button ng-init="submissionLabel[$index] = 'Soumettre'" ng-class="{'done' : submissionLabel[$index] === SUBMIT_STRING }" ng-model="submissionLabel[$index]" class="btn btn-submit" ng-click="ipCallbacks[$index] = submitData(item.url,item.hashtags);submissionLabel[$index] = SUBMIT_STRING"><a href ></a>{{submissionLabel[$index]}}<i class="icon-plus-sign icon-white"></i></button>
                    <button class="btn btn-profile"><a target="_blank" href={{item.url}}>Profil</a><i class="icon-user icon-white"></i></button>
                  </div>
                  <div class="grayed-vote"></div>
                  <div class="obstrusive-shr">
                    <ul>
                      <li ng-click="invokeDialog('{{item.url}}')"  class="share-fb-mod" popover="Lorem Ipsum Dolor" popover-trigger="mouseenter"></li>
                      <li ng-click="true" class="share-tw-mod" popover="Lorem Ipsum Dolor" popover-trigger="mouseenter"><a ng-disabled="disabled" href={{twitterShare(item.url,hashTags)}} data-lang="en" data-related="jasoncosta"></a></li>
                    </ul>
                  </div>
                  <hr class="hr-iterator" />
                </li>
              </ul>
            </div>
            <div class="grep-zone">
              <span class="red-content">Trier par #</span>
              <ul>
                <li ng-repeat="hashTag in hashTags">
                  <div ng-class="{block: $index === 0}" ng-show="$index === 0" ng-click="hashfilter.hashtags = ''"  class="hashtag-grep-entry">#tous</div>
                  <span ng-click="hashfilter.hashtags = hashTag.name"  class="hashtag-grep-entry">{{hashTag.name}}</span>
                </li>              
              </ul>
            </div>
            <!--            Selected: <b>{{ selected.item }}</b> -->
          </div>
        </script>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </div>



      <div class="logo-footer">
        <span class="footer-slogan">Encourage Personal Creativity</span>
      </div>
      <footer>
        <div><a href="fb">_</a></div>
        <div><a href="tw">_</a></div>
        <div><a href="in">_</a></div>
        <div><a href="ml">_</a></div>
      </footer>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-XXXXX-X');
     ga('send', 'pageview');
     </script>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

     <!-- build:js scripts/plugins.js -->
     <script src="bower_components/jquery/jquery.js"></script>
     <script src="bower_components/prettyphoto/js/jquery.prettyPhoto.js"></script>
     <script src="scripts/angular.min.js"></script>
     <script src="bower_components/plax/js/plax.js"></script>
     <script src="scripts/underscore-min.js"></script>
     <script src="bower_components/jscrollpane/script/jquery.jscrollpane.min.js"></script>
     <script src="bower_components/jscrollpane/script/jquery.mousewheel.js"></script>
     <script src="scripts/angular-easyfb.min.js"></script>
     <script src="bower_components/angular-ui/build/angular-ui.min.js"></script>
     <script src="bower_components/nginfinitescroll/build/ng-infinite-scroll.js"></script>     
     <script src="scripts/jquery.blockUI.min.js"></script>
     <script src="bower_components/angular-timer/release/angular-timer.min.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
     <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
     <!-- endbuild -->

     <!-- build:js scripts/modules.js -->
     <script src="bower_components/angular-resource/angular-resource.js"></script>
     <script src="bower_components/angular-cookies/angular-cookies.js"></script>
     <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
     <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
     <script src="bower_components/angular-underscore/angular-underscore.js"></script>
     <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
     <!-- endbuild -->

     <!-- build:js({.tmp,app}) scripts/scripts.js -->
     <script src="scripts/app.js"></script>
     <script src="scripts/blockui.directives.js"></script>
     <script src="scripts/stellar.directives.js"></script>
     <script src="scripts/controllers/main.js"></script>
     <script src="scripts/controllers/services.js"></script> 
     <script src="scripts/gf-include.js"></script>
     <!-- endbuild -->
   </body>
   </html>
