  <div class="fancy" id="tr-header-1" />
  <div id="tr-footer-4" />
  <div id="tr-header-4" />
  <div id="tr-footer-5" />
  <div id="tr-middle-1" /> 
  <div id="tr-black-header" />
  <div ng-contoller="AboutCtrl">
    <div class="center about-logo"></div>
    <div class="center about-label">Tunisiana Web Awards 2013</div>
    <div class="center about-meta">LE CONCEPT</div>
    <div class="about-text">
      <p class="center">Les Tunisiana Web Awards sont des trophées récompensant le meilleure du Web Tunisien. La 1ère cérémonie a eu lieu le jeudi 11 octobre au Regency Gammarth et a récompensé les meilleurs internautes actifs de la Tunisie. Les gagnants ont été élus à la fois par les internautes et par un jury de professionnels. Chaque partie a contribué à hauteur de 50% aux résultats des votes.
      </p>
      <p>Découvrez les vidéos et photos de ces premiers Tunisiana Web Awards ainsi que les noms des gagnants.</p>
    </div>

    <ul class="center about-link-container">
      <li class="about-li">PRESS</li>
      <li class="about-li">TWA 2012</li>
      <li class="about-li">REGLEMENT</li>
      <li class="about-li">LE FONCTIONNEMENT</li>
    </ul>

  </div>