<!--<form name="contactform" class="contact" ng-submit="!contactform.$valid || sendMail()" ng-controller="ContactCtrl">
	<div class="fancy" id="tr-header-1" />
	<div class="fancy" id="tr-middle-contact" />
	<div class="fancy" id="tr-end" />
	<div class="fancy" id="tr-header-end" />

	<div id="contact-form-container">
		<label id="contact-label">Contactez l'équipe Tunisiana Web Awards</label>
		<div id="contact-form-body">
			<input id="contact-name" required type="text" ng-model="senderName" placeholder="Nom et prénom"/>
			<input id="contact-email" required type="email" ng-model="email" placeholder="Email"/>
			<textarea id="contact-message" required ng-model="message" placeholder="Message"></textarea>
		</div>
	</div>
	<div id="timer-container">
		<h2>Coming Soon</h2>
		<timer start-time="1357020000000"> <div>{{days}} : {{hours}} : {{minutes}} </div>
			<div class="timer-meta"><span>Days</span><span>Hours</span><span>Minutes</span></div>
		</timer> 
	</div>
	<input id="contact-chrome-reset" class="contact-submit" type="submit" value="" />
</form>
-->
<div id="contact-container">
	<div class="range" id="range-first">
		<label class="prompt full-font">Tunisiana Web Awards</label>
		<label class="meta-prompt mid-font">Toutes vos suggestions sont les bienvenues. Veuillez s’il vous plait lire attentivement les paragraphes 
			ci-dessous et envoyer vos messages à l’adresse appropriée. </label>
		</div>
		<div class="range" id="range-second">
			<label class="prompt full-font">Presse</label>
			<label class="meta-prompt mid-font">Pour tout renseignement ou demande d’interview, veuillez contacter Hassen Essaies sur l’adresse 
				suivante : <a href="mailto:hassen.essaies@gmail.com">hassen.essaies@gmail.com</a>
			</label>
		</div>
		<div class="range" id="range-third">
			<label class="prompt full-font">Adresse Postale
			</label>
			<label class="meta-prompt mid-font">Rue Lac Tibériade , Lac Centre Bloc B , App B02 , Berges du lac, 1053 Tunis.
			</label>

			<label class="meta-prompt mid-font">Pour plus d'informations concernant la candidature, Veuillez contacter Hassen Essaies sur l’adresse 

				suivante : <a href="mailto:hassen.essaies@gmail.com">hassen.essaies@gmail.com</a>
			</label>


		</div>
		<div class="range" id="range-last">
			<label class="prompt full-font">Réseaux Sociaux</label>
			<label class="meta-prompt mid-font">Rejoignez-nous via nos réseaux sociaux :</label>
		</div>

		<div id="contact-logo-holder">
			<span class="contact-tw"><a href="http://www.twitter.com/Tunisiana"></a></span>
			<span class="contact-li"><a href="http://www.linkedin.com/company/tunisiana"></a></span>
			<span class="contact-fb"><a href="http://www.facebook.com/Tunisiana"></a></span>
		</div>

	</div>