<div ng-controller="JuryCtrl">
	<div class="fancy" id="tr-middle-2" />
	<div class="fancy" id="tr-black-2" />
	<div class="fancy" id="tr-red-3" />
	<div class="fancy" id="tr-header-1" />
	<div class="fancy" id="tr-header-4" class="tr-motives"></div>
	<div id="jury-container">
		<div class="center about-meta"> LES MEMBRES DU JURY</div>
		<div class="jury-sep">
			<p class="no-margin"><b>Le jury est composé de professionnels du web et du domaine artistique</b>. Les</p>
			<p class="no-margin"> membres du jury interviendront à la fin du second tour pour choisir les gag-</p>
			<p class="no-margin">nants parmi les cinq premiers de chaque sous-catégorie. Le jury établira pour </p>
			<p class="about-last no-margin"> chaque sous-catégorie un classement des 5 premiers gagnants.</p>
		</div>
		<ul class="media-list-override">
			<li ng-class="{'jury-first': $index === 0 , 'jury-last': $index === 4}" class="jury-elem" ng-repeat="pres in juryCollection">	
				<div class="jury-meta-container">	
					<span class="jury-meta black">{{pres.name}}</span>
					<span class="jury-meta white">{{pres.meta}}</span>
				</div>
				<div class="dummy-bg grayscale" ng-style="{'background-image':'url({{pres.src}})'}">
				</div>
				<div class="jury-adden"><p>{{pres.desc}}</p></div>
			</li>
		</ul>
	</div>
</div>