<div ng-controller="JuryCtrl">
	<div class="fancy" id="tr-header-1" />
	<div class="fancy" id="tr-header-4" class="tr-motives"></div>
	<div id="jury-container">
		<div class="center about-meta"> LES MEMBRES DU JURY</div>
		<div class="jury-sep">
			<p class="no-margin">Le jury est composé de professionnels du web et du domain artistique. Les</p>
			<p class="no-margin"> membres du jury intgerviendront à la fin du second tour pour choisir les gag-</p>
			<p class="no-margin">nants parmi les cinq premiers de chaque sous-catégorie. Le jury établira pour </p>
			<p class="about-last no-margin"> chaque sous-catégorie un calssement des 5 premiers gagnants.</p>
		</div>
		<ul class="media-list-override">
			<li class="jury-elem" ng-repeat="pres in juryCollection">	
				<div class="jury-meta-container">	
					<span class="jury-meta black">{{pres.name}}</span>
					<span class="jury-meta white">{{pres.meta}}</span>
				</div>
				<div class="jury-img"/>
				<div class="jury-adden"><p>Lorem ipsum dolor site amet, consectetur adi elit. Proint tincidunt purus at poseuere sagittis maecenas at gravida mi. Curabitur sagittis.</p></div>
			</li>
		</ul>
	</div>
</div>