


<div ng-controller="TWASubmitCtrl">
	<label for="submission-fill">Tapez l'adresse URL de votre Candidat</label>
	<div class="child-skew">
		<input id="fillform" type="text" data-trigger="focus" data-unique="1" bs-tooltip="tooltip.title" ng-model="keyword" ng-change="notify()"/>
	</div>
	<ul ng-repeat="twaElem in twaHashTags">
		<li class="hash-elements" ng-class="{fithashtag: twaHashTags[$index].state}"><a href="#" class="only-here">{{twaElem.name}}</a></li>
	</ul>
</div>


<div id="share-area">
	<ul>
		<li popover="Lorem Ipsum Dolor" popover-trigger="mouseenter">Share</li>
		<li popover="Lorem Ipsum Dolor" popover-trigger="mouseenter">Tweet</li>
	</ul>
</div>


