<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("a[rel^='prettyPhoto']").prettyPhoto({deeplinking: true});
});
</script>
<div id="tr-plax-red" data-xrange="40" data-yrange="40" plax/>

<div class="fancy" id="tr-header-1" plax/>
<div class="fancy" id="media-header-1" data-xrange="40" data-yrange="0" invert-plax/>
<div class="fancy" id="tr-media-footer" plax />
<div class="fancy" id="tr-footer-6" />
<div class="fancy" id="tr-footer-7" />
<div class="fancy" id="tr-red-3-alt" />
<div class="fancy altered" id="tr-black-party" style="top: 55%;z-index: 5;right: 7%;" />
<div class="fancy" id="partial-motive" plax/>
<div id="media-descriptor">
	<label class="meta-prompt full-font">Les beaux moments de Tunisiana Web Awards</label>
	<label class="prompt mid-font" for="submission-fill">Consultez la galerie TWA en photos & vidéos !</label>
</div>

<div class="fancy" id="tr-header-4" class="tr-motives"></div>
<div ng-controller="ModalCtrl" class="media-container">
	<div class="jury-skew party-parent">
		<div class="jury-centered jury-unskew party-child">Albums photos </div>
	</div>
	<div id="media-pic-container">
		<ul class="media-list-override pic-first-row">

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="/images/1.jpg" target="_self" > <img src="/images/1.jpg"></a>
				</div>
			</li>
			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="/images/1.jpg" target="_self" > <img src="/images/1.jpg"></a>
				</div>
			</li>

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="/images/2.jpg"><img src="/images/2.jpg"></a>
				</div>
			</li>

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="/images/3.jpg"><img src="/images/3.jpg"></a>
				</div>
			</li>
		</ul>
	</div>
	<!--	<span id="pic-list"></span> -->
	<ul class="media-list-override">
		<li class="child-skew">
			<div class="reverse-skew">
				<a  ng-pretty-photo data-pp="/images/5.jpg"><img src="/images/5.jpg"></a>
			</div>
		</li>
		<li class="child-skew">
			<div class="reverse-skew">
				<a  ng-pretty-photo data-pp="/images/6.jpg"><img src="/images/6.jpg"></a>
			</div>
		</li>
		<li class="child-skew">
			<div class="reverse-skew">
				<a ng-pretty-photo data-pp="/images/7.jpg"><img src="/images/7.jpg"></a>
			</div>
		</li>
		<li class="child-skew">
			<div class="reverse-skew">
				<a ng-pretty-photo data-pp="/images/8.jpg"><img src="/images/8.jpg"></a>
			</div>
		</li>
	</ul> 
	<!--	<span id="video-list"></span> -->

	<div class="jury-skew party-parent media-last">
		<div class="jury-centered jury-unskew party-child media-last-child">Album vidéos : </div>
	</div>
	<div id="video-pic-container">
		<ul class="media-list-override video-first-row">

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="http://www.youtube.com/watch?v=taLRYpeWfXI&list=PLJcSp1TFrM-dVlOwVhpSdM5CbOow67Khq&index=1" target="_self" > <img src="http://img.youtube.com/vi/taLRYpeWfXI/3.jpg"></a>
				</div>
			</li>

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="http://www.youtube.com/watch?v=_VyBVhrciOQ&list=PLJcSp1TFrM-dVlOwVhpSdM5CbOow67Khq&index=2"><img src="http://img.youtube.com/vi/_VyBVhrciOQ/3.jpg"></a>
				</div>
			</li>

			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="http://www.youtube.com/watch?v=3QWdBgnnR4I&list=PLJcSp1TFrM-dVlOwVhpSdM5CbOow67Khq&index=3"><img src="http://img.youtube.com/vi/3QWdBgnnR4I/3.jpg"></a>
				</div>
			</li>
			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="http://www.youtube.com/watch?v=gkHkELtmKFY&list=PLJcSp1TFrM-dVlOwVhpSdM5CbOow67Khq&index=5"><img src="http://img.youtube.com/vi/gkHkELtmKFY/3.jpg"></a>
				</div>
			</li>
		</ul>
		<ul class="media-list-override">
			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="http://www.youtube.com/watch?v=ctEDOQMHqy0&list=PLJcSp1TFrM-dVlOwVhpSdM5CbOow67Khq&index=6"><img src="http://img.youtube.com/vi/gkHkELtmKFY/3.jpg"></a>
				</div>
			</li>
			<li class="child-skew">
				<div class="reverse-skew">
					<a  ng-pretty-photo data-pp="/images/6.jpg"><img src="http://img.youtube.com/vi/ctEDOQMHqy0/0.jpg"></a>
				</div>
			</li>
			<li class="child-skew">
				<div class="reverse-skew">
					<a ng-pretty-photo data-pp="/images/7.jpg"><img src="http://img.youtube.com/vi/<insert-youtube-video-id-here>/0.jpg"></a>
				</div>
			</li>
			<li class="child-skew">
				<div class="reverse-skew">
					<a ng-pretty-photo data-pp="/images/8.jpg"><img src="http://img.youtube.com/vi/<insert-youtube-video-id-here>/0.jpg"></a>
				</div>
			</li>
		</ul>
	</div>
</div>

<script type="text/ng-template" id="gallery.html">
	<div></div>
</script>