<div ng-controller="ModalCtrl">
	<ul class="media-list-override pic-first-row">
		<li ng-click="openGallery()" class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<ul class="media-list-override">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<span id="pic-list"></span>
	<ul class="media-list-override video-first-row">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<ul class="media-list-override">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<span id="video-list"></span>
</div>

      <script type="text/ng-template" id="gallery.html">
      	<div>Hello<div>
	  </script>