<div id="tr-plax-red" data-xrange="40" data-yrange="40" plax/>
<div class="fancy" id="tr-header-1" />
<div ng-controller="ModalCtrl">
	<ul class="media-list-override pic-first-row">
		<li ng-click="openGallery()" class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<ul class="media-list-override">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<span id="pic-list"></span>
	<ul class="media-list-override video-first-row">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<ul class="media-list-override">
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
		<li class="child-skew"><img src="/images/soumiss.png"></li>
	</ul>
	<span id="video-list"></span>
</div>

<script type="text/ng-template" id="gallery.html">
<div><iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="640" height="390" src="http://www.youtube.com/embed/W-Q7RMpINVo"
frameborder="0" allowFullScreen></iframe></div>
</script>