	<div class="fancy" id="tr-header-1"></div>
	<div class="fancy" id="tr-header-8"></div>
	<div class="fancy" id="tr-header-9"></div>
	<div class="fancy" id="tr-middle-3"></div>
	<div class="fancy" id="tr-header-4" class="tr-motives"></div>
	<div class="fancy" id="partial-motive"/>
	<div class="fancy" id="tr-party-header"/>
	<div class="fancy" id="tr-black-party"/>
	<div class="fancy" id="tr-red-footer"/>

	<div ng-controller="PartyCtrl">
		<div class="jury-skew">
			<div class="jury-centered jury-unskew">Présentée par : </div>
		</div>		
		<ul class="media-list-override">
			<li class="jury-elem" ng-repeat="pres in presCollection">	
				<div class="jury-meta-container">	
					<span class="jury-meta black">{{pres.name}}</span>
					<span class="jury-meta white">{{pres.meta}}</span>
				</div>
				<div class="child-skew">
					<div class="reverse-skew">
						<img class="jury-img" src={{pres.src}} />
					</div>
				</div>
				<div class="jury-adden"><p>{{pres.desc}}</p></div>
			</li>
		</ul>

		<div class="jury-skew">
			<div class="jury-centered jury-unskew">Animée par : </div>
		</div>

		<ul class="media-list-override">
			<li class="jury-elem" ng-repeat="jury in juryCollection">	
				<div class="jury-meta-container">	
					<span class="jury-meta black">{{jury.name}}</span>
					<span class="jury-meta white">{{jury.meta}}</span>
				</div>
				<div class="jury-img"/>
				<div class="jury-adden"><p>Lorem ipsum dolor site amet, consectetur adi elit. Proint tincidunt purus at poseuere sagittis maecenas at gravida mi. Curabitur sagittis.</p></div>
			</li>
		</ul>
	</div>